<?xml version="1.0" encoding="UTF-8" ?>
<configuration>

    <springProperty scope="context" name="appName"
                    source="spring.application.name"/>

<!--    Development: readable console output -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="net.logstash.logback.encoder.LogstashEncoder">
            <includeMdcKeyName>traceId</includeMdcKeyName>
            <includeMdcKeyName>userId</includeMdcKeyName>
            <includeMdcKeyName>ip</includeMdcKeyName>
        </encoder>
    </appender>

<!--    Production: write to file -->
    <appender name="FILE"
              class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>logs/auth-service.log</file>
        <rollingPlicy
            class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>logs/auth-service.%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>30</maxHistory>        <!-- keep 30 days of logs -->
            <totalSizeCap>1GB</totalSizeCap>   <!-- max total size -->
        </rollingPlicy>
        <encoder class="net.logstash.logback.encoder.LogstashEncoder"/>
    </appender>


    <springProfile name="dev">
        <root level="INFO">
            <appender-ref ref="CONSOLE"/>
        </root>
        <logger name="com.brijesh.authservice" level="DEBUG"/>
        <logger name="com.springframework.security" level="DEBUG"/>
    </springProfile>

    <springProfile name="prod">
        <root level="WARN">
            <appender-ref ref="FILE"/>
        </root>
        <logger name="com.brijesh.authservice" level="INFO"/>
        <logger name="org.springframework.security" level="WARN"/>
    </springProfile>

</configuration>